.cloud {
  width: 100%;
  height: 100vh;
}
.head {
  height: 56px;
  background: #1E90FF;
  position: relative;
}
.head .title {
  width: 226px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(27%, -50%);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 23px;
  color: #FFFFF0;
}
.head .header_img {
  width: 36px;
  margin: 9px 108px 0px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
.head .header_img img {
  width: 100%;
  border-radius: 50%;
}
.head .user_name {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 14px 37px 0px 0px;
  cursor: pointer;
  font-size: 21px;
  color: #FFFFF0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.head .header_detail {
  display: none;
  width: 278px;
  height: 229px;
  position: absolute;
  top: 60px;
  right: 2px;
}
.head .header_detail .top {
  height: 175px;
  background: #1E90FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head .header_detail .top img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
}
.head .header_detail .top span {
  display: block;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  color: #FFFFF0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  cursor: pointer;
}
.head .header_detail .bottom {
  height: 54px;
  font-size: 16px;
  background: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.head .header_detail .bottom .set,
.head .header_detail .bottom .out {
  width: 54px;
  height: 34px;
  border: 1px solid #D0D0D0;
  color: #787878;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.head .header_detail .bottom .set {
  margin: 0px 0px 0px -50px;
}
.head .header_detail .bottom .out {
  margin: 0px -49px 0px 0px;
}
.center {
  width: 100%;
  height: 42px;
  border-bottom: 2px solid #E0E0E0;
  box-sizing: border-box;
  position: relative;
}
.center .search {
  width: 220px;
  height: 100%;
  border-right: 2px solid #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center .search input {
  width: 134px;
  height: 25px;
  border: 1px solid #E8E8E8;
}
.center .search span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
}
.center .right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.center .right img {
  width: 25px;
  height: 25px;
  margin: 9.5px 33px 0px 0px;
  position: relative;
}
.main {
  height: 100vh;
}
.main .menu {
  width: 212px;
  height: 100vh;
  float: left;
  font-size: 12px;
  margin: 7px 0px 0px 8px;
  box-sizing: border-box;
  border-left: 1px solid #E0E0E0;
  padding: 1px 0px 0px 2px;
}
.main .menu ul li .one_nav {
  display: flex;
  align-items: center;
}
.main .menu ul li .one_nav img {
  width: 24px;
  height: 25px;
  cursor: pointer;
}
.main .menu ul li .one_nav span {
  cursor: pointer;
}
.main .menu ul li .two_nav {
  margin: 0px 0px 0px 26px;
  border-left: 1px solid #E0E0E0;
  padding: 0px 0px 0px 2px;
  box-sizing: border-box;
}
.main .menu ul li .two_nav .two_list {
  display: flex;
  align-items: center;
}
.main .menu ul li .two_nav .two_list img {
  width: 24px;
  height: 25px;
  cursor: pointer;
}
.main .menu ul li .two_nav .two_list span {
  cursor: pointer;
}
.main .content {
  width: 83%;
  height: 100vh;
  color: #787878;
  float: left;
  border-left: 2px solid #E0E0E0;
  box-sizing: border-box;
}
.main .content .main_nav {
  width: 100%;
  height: 81px;
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #E0E0E0;
}
.main .content .main_nav .left {
  width: 21%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content .main_nav .left .create {
  cursor: pointer;
  display: flex;
  margin: 0px 24px 0px 26px;
}
.main .content .main_nav .left .create img {
  margin: 0px 5px 0px 0px;
}
.main .content .main_nav .left .create span {
  display: block;
}
.main .content .main_nav .left .file {
  cursor: pointer;
  display: flex;
}
.main .content .main_nav .left .file img {
  margin: 0px 5px 0px 0px;
}
.main .content .main_nav .left .file span {
  display: block;
}
.main .content .main_nav .action_button {
  width: 647px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content .main_nav .action_button .button_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 37px;
  border: 1px solid #E0E0E0;
  border-radius: 7px;
}
.main .content .main_nav .action_button .button_detail p {
  margin: 0px 25px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .content .main_nav .action_button .button_detail p span {
  margin: 0px 0px 0px 7px;
}
.main .content .main_nav .action_button .button_detail .ico {
  margin: 0px 25px 0px 0px;
  cursor: pointer;
}
.main .content .main_nav .action_button .button_detail .ico1 {
  margin: 0px -10px 0px 0px;
}
.main .content .detail {
  height: 100vh;
  font-size: 15px;
}
.main .content .detail .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 141px 0px 27px;
  box-sizing: border-box;
  height: 52px;
}
.main .content .detail .title li:first-child {
  display: flex;
  margin: 0px 80px 0px 0px;
}
.main .content .detail .title li:first-child input {
  width: 44px;
  height: 21px;
}
.main .content .detail .list {
  height: 100vh;
  padding: 0px 1px 0px 27px;
}
.main .content .detail .list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background: #F0F0F0;
  padding: 0px 141px 0px 0px;
}
.main .content .detail .list ul li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 43px 0px 0px;
}
.main .content .detail .list ul li:first-child input {
  width: 44px;
  height: 21px;
}
.main .content .detail .list ul li:nth-child(3) {
  margin: 0px 44px 0px 26px;
}
.main .content .detail .list ul li:nth-child(4) {
  margin: 0px 0px 0px -38px;
}
.main .content .detail .list ul li:nth-child(5) {
  margin: 0px 0px 0px -12px;
}
.main .content .content_list {
  height: 100vh;
}
.main .content .content_list .folder {
  width: 150px;
  height: 148px;
  text-align: center;
  margin: 24px 0px 29px 45px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .content .content_list .folder img {
  width: 105px;
  height: 94px;
}
.main .content .content_list .folder input {
  width: 119px;
  height: 19px;
  margin: 7px auto 0 auto;
  text-align: center;
}
.main .content .content_list .folder p {
  font-size: 14px;
  margin: 9px 0px 0px 0px;
  color: #585858;
}
.main .content .content_list #drag {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}
