<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input 
            type="text"
            v-model="val"
            @keyup.13="click"
        >
        <button @click="click">点击</button>
        <ul>
            <li
                v-for="(val,key) in ary"
                @click="rm(key)"
            >{{val}}</li>
        </ul>
    </div>
<script src="vue.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            val:'',
            ary:[]
        },
        methods:{
            click(){
                this.ary.push(this.val);
                this.val = '';
            },
            rm(key){
                this.ary = this.ary.filter((e,index)=>index!==key)
            }
        }
    });
</script>
</body>
</html>